<div class="card">
    <div class="card-header">
        EDITAR SERIE
    </div>
    <div class="card-body">
        <form [formGroup]="formularioEditarSerie" (ngSubmit)="editarDatosSerie()">
            <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <div>
                    <div class="mb-3">
                        <label class="form-label">Nombre de la serie:</label>
                        <input type="text" class="form-control" formControlName="title" maxlength="250" placeholder="Escribe el nombre de la serie">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Género de la serie:</label>
                        <input type="text" class="form-control" formControlName="gender" maxlength="500" placeholder="Ejemplo: Romance, Bl, Fantasía, Juvenil">
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Cantidad de episodios:</label>
                    <input type="number" class="form-control" formControlName="episodes" min="1">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Periodo de emisión:</label>
                        <input type="text" class="form-control" formControlName="issuance_period" maxlength="200" placeholder="Ejemplo: 6-Julio-2022 al 01-Octubre-2022">
                    </div>
                </div>
                <div *ngIf="src" style="display:flex; justify-content: center;">
                    <img [src]="src" alt="" width="50%">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Sinopsis</label>
                <textarea style="resize: none;" class="form-control" formControlName="synopsis" rows="11" maxlength="1500"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Link de la serie:</label>
                <input type="text" class="form-control" formControlName="link" maxlength="2000" placeholder="Ingrese el link para la serie">
            </div>
            <div class="btn-group" role="group" aria-label="" style="display: flex; justify-content: end;">
                <button type="submit" class="btn btn-success">Actualizar</button>
                <button type="button" class="btn btn-primary" routerLink="/series">Cancelar</button>
            </div>
        </form>
    </div>
</div>