<div class="songs" *ngIf="songs">
    <div class="card-song" *ngFor="let s of songs; let iControl = index">
        <div class="video">
            <iframe style="border-radius: 10px;" width="555" height="310" [src]="srcVideo(iControl)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="informacion">
            <div>    
                <h4>{{s.name}}</h4>
                <p>{{s.description}}</p>
                <a routerLink="/edit-song/{{s.song_id}}">Editar</a> | 
                <a (click)="borrarCancion(s.song_id, iControl)">Eliminar</a>
            </div>
        </div>
    </div>
</div>