<!-- Pie de página -->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <img src="https://www.gmm-tv.com/tmpl/img/201809/gmmtvgd_48.png" alt="gmmtv" width="100px">
            <br><br>
            <p>Grammy Television</p>
            <p>Thai: จีเอ็มเอ็มทีวี RTGS: Chi Em Em Thiwi</p>
        </div>
        <div class="box">
            <h2>SÍGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/gmmtvofficial/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/gmmtv/?hl=es" class="fa fa-instagram"></a>
                <a href="https://twitter.com/GMMTV?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/channel/UC8BzJM6_VbZTdiNLD4R1jxQ" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>GMMTV CO., LTD</b> - Todos los derechos reservados</small>
    </div>
</footer>
