
<!-- Vista del administrador -->
<!--<div class="borde">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <img src="https://www.gmm-tv.com/tmpl/img/201809/gmmtvgd_48.png" alt="gmmtv" width="150px">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarSeries" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SERIES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarSeries">
            <a class="dropdown-item" routerLink="series">Lista de series</a>
            <a class="dropdown-item" routerLink="add-series">Agregar serie</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarSongs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CANCIONES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarSongs">
            <a class="dropdown-item" routerLink="songs">Lista de canciones</a>
            <a class="dropdown-item" routerLink="add-songs">Agregar canción</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarArtists" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ARTISTAS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarArtists">
            <a class="dropdown-item" routerLink="artists">Lista de artistas</a>
            <a class="dropdown-item" routerLink="add-artists">Agregar artista</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>-->

<!-- Vista del usuario -->
<div class="borde">
  <nav>
    <img src="https://www.gmm-tv.com/tmpl/img/201809/gmmtvgd_48.png" alt="gmmtv" width="100px">
    <a class="nav-item nav-link" routerLink="home">Inicio</a>
    <a class="nav-item nav-link" routerLink="galery-series">Series</a>
    <a class="nav-item nav-link" routerLink="galery-songs">Canciones</a>
    <a class="nav-item nav-link" routerLink="galery-artists">Artistas</a>
  </nav>
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
