<div class="descripcion">
    <div class="box1">
        <img src="../../../assets/gmm_tv_fondo.jpg" alt="Artistas gmm-tv" width="100%">
    </div>
    <div class="box1">
        <div>
            <h2>GMMTV ( tailandés : จีเอ็มเอ็มทีวี RTGS :  Chi Em Em Thiwi )</h2>
            <p>Acrónimo de Grammy Television (que era su nombre anterior), es una subsidiaria de producción de televisión y agente de talentos del conglomerado de entretenimiento tailandés GMM Grammy , bajo The One Enterprise , que produce programas de televisión , canciones y videos musicales . Fue fundada el 3 de agosto de 1995. Sataporn Panichraksapong es el director general de la empresa.</p>
        </div>
    </div>
</div>
<div class="informacion">
    <p>Es una filial de producción de televisión en el conglomerado de entretenimiento tailandes, GMM Grammy, que produce programas, series de televisión, canciones y videos musicales.</p>
    <p>Fue fundada el 3 de agosto de 1995 por los ejecutivos de GMM Grammy que vio el potencial en el desarrollo, crecimiento y fortalecimiento de la industria televisiva tailandesa. El departamento de marketing de la empresa se creó en una entidad separada para administrar la industria de producción de televisión. En ese momento, Duangjai Lorlertwit y Saithip Montrikul na Ayudhaya eran los directores generales , respectivamente; y la empresa comenzó a producir programas de juegos de televisióny programas de música que se transmitieron en el Canal 3 , Canal 5 , Canal 7 e iTV.</p>
</div>
<div class="descripcion">
    <div class="box1">
        <div>
            <p>
                En 2007, Saithip Montrikul na Ayudhaya dejó la empresa para administrar GMM Media Public Co., Ltd. Como resultado, Sataporn Panichraksapong, que entonces era el director gerente adjunto, se convirtió en el nuevo director gerente y cambió el nombre de la empresa en GMMTV Company Limited.
            </p>
            <p>
                El 2 de febrero de 2009, la compañía comenzó a ejecutar un canal de televisión por cable y satélite llamado Bang Channel al trasladar algunos de los programas de televisión que se transmitían en el Canal 5 a su propio canal, y comenzó a producir diferentes programas de televisión en otros géneros además del juego, shows y shows musicales.
            </p>
            <p>
                El 5 de diciembre de 2015, la junta directiva de GMMTV votó para cerrar su canal de televisión por cable y satélite y, en cambio, centrarse en la producción de televisión para GMM ONE (One31) y GMM 25, que son canales digitales. Como resultado, Bang Channel dejó de transmitir desde el 31 de diciembre de 2015 en adelante.
            </p>
        </div>
    </div>
    <div class="box1">
        <img src="../../../assets/gmm_tv_entrada.jpg" alt="Entrada gmm-tv" width="100%">
    </div>
</div>
<div class="descripcion">
    <div class="box1">
        <img src="../../../assets/gmm_tv_japon.jpg" alt="Artistas gmm-tv" width="100%">
    </div>
    <div class="box1">
        <div>
            <p>
                El 24 de agosto de 2017, con la adquisición de GMM 25 por TCC Group (Tailandia), la junta directiva de GMM Grammy resolvió distribuir el 100% de las acciones de GMMTV a GMMCH (GMM Channel Holding Company Limited), el holding y grupo empresarial de GMM 25 como nuevo accionista.
            </p>
            <p>
                El 26 de septiembre de 2018, Sataporn Panichraksapong, director gerente de GMMTV, anunció oficialmente que se convirtió en el nuevo director ejecutivo de GMM 25 desde el 16 de septiembre después de los rumores de que reemplazaría a Saithip Montrikul na Ayudhaya.
            </p>
            <p>
                Sin embargo, el 27 de noviembre de 2020, la reunión de la junta directiva de GMM Grammy, en compañía de Siridamrongdham Company Limited de TCC Group, tuvo la resolución de disponer y transferir todas sus acciones de GMMCH a ONE (The One Enterprise Company Limited o Un grupo empresarial de 31 canales) que está en línea con la condición y planea cotizar UNO en la Bolsa de Valores de Tailandia. Como resultado, la compañía ha sido una subsidiaria del grupo The One Enterprise con Takonkiet Viravan como director indirecto.
            </p>
        </div>
    </div>
</div>
<div class="informacion">
    <p>En la actualidad, GMMTV es productora de programas de entretenimiento, dramas y series de televisión para One31 y GMM 25 bajo la supervisión y administración de The One Enterprise, que tiene el derecho de organizar la comercialización de ambos canales.</p>
</div>
<div class="box1" style="padding-bottom: 35px;">
    <iframe width="970" height="515" src="https://www.youtube.com/embed/fwU5AQ3pKiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>